/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

:root {
    background-color: #FFFFFF;
    --font-family: "Lato", sans-serif;
    --primary-color: #d44457;
    --secondary-color: #4d7fa3;
    --accent-color: #8557cf;
    --white-color: #fff;
    --gray-color: #999;
    --black-color: #222;
    --font-xmall-size: 12px;
    --font-small-size: 14px;
    --font-medium-size: 20px;
    --font-mlarge-size: 22px;
    --font-large-size: 28px;
    --font-xlarge-size: 32px;
    --font-light-weight: 300;
    --font-normal-weight: 500;
    --font-heavy-weight: 700;
}
/*  background-color: #f8f8f8; */

.primary-small-normal {
    color: var(--primary-color);
    font-size: var(--font-small-size);
    font-weight: ;
}

.primary-small-heavy {
    color: var(--primary-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-heavy-weight);
}

.primary-large-light {
    color: var(--primary-color);
    font-size: var(--font-large-size);
    font-weight: var(--font-light-weight);
}

.primary-large-heavy {
    color: var(--primary-color);
    font-size: var(--font-large-size);
    font-weight: var(--font-heavy-weight);
}

.secondary-small-light {
    color: var(--secondary-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-light-weight);
}

.secondary-small-light-allcaps {
    color: var(--secondary-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-light-weight);
    text-transform: uppercase;
}

.secondary-medium-heavy {
    color: var(--secondary-color);
    font-size: var(--font-medium-size);
    font-weight: var(--font-heavy-weight);
}

.secondary-mlarge-heavy {
    color: var(--secondary-color);
    font-size: var(--font-mlarge-size);
    font-weight: var(--font-heavy-weight);
}

.white-small-light-allcaps {
    color: var(--white-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-light-weight);
    text-transform: uppercase;
}

.white-mlarge-light-allcaps {
    color: var(--white-color);
    font-size: var(--font-mlarge-size);
    font-weight: var(--font-light-weight);
    text-transform: uppercase;
}

.white-xlarge-light {
    color: var(--white-color);
    font-size: var(--font-xlarge-size);
    font-weight: var(--font-light-weight);
}

.gray-xsmall-light {
    color: var(--gray-color);
    font-size: var(--font-xmall-size);
    font-weight: var(--font-light-weight);
}

.gray-xsmall-heavy {
    color: var(--gray-color);
    font-size: var(--font-xmall-size);
    font-weight: var(--font-heavy-weight);
}

.gray-small-light {
    color: var(--gray-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-light-weight);
}

.gray-small-normal-allcaps {
    color: var(--gray-color);
    font-size: var(--font-small-size);
    font-weight: ;
    text-transform: uppercase;
}

.gray-small-heavy {
    color: var(--gray-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-heavy-weight);
}

.black-small-light {
    color: var(--gray-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-light-weight);
}

/* Responsive Design - mobile styles (default) */
    /* Styles */

/* Tablet styles */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Header */

.logo-img {
    display: block;
    margin-top: -15px;
    margin-right: auto;
    margin-bottom: -30px;
    margin-left: auto;
    width: 325px;
    height: 180px;
}

.logo-text {
    font-family: "Montagu Slab", sans-serif;
    font-size: 28px;
    color: var(--black-color);
    font-weight: bolder;
    text-align: center;
    margin-bottom: -5px;
}

.logo-subtitle {
    font-size: 24px;
    font-family: "Allura", sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 10px;
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: var(--font-default-weight);
    color: var(--white-color);
}

.hero-subtitle {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: var(--font-default-weight);
    color: var(--white-color);
    text-transform: uppercase;
}

.hero-container img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 14px;
    color: var(--gray-color);
    text-transform: uppercase;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 5px;
}

.nav a {
    text-decoration: none;
    color: var(--gray-color);
}

.nav a:hover {
    color: var(--primary-color);
}

.nav a:active {
    color: var(--primary-color);
}

nav li:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
    color: var(--gray-color);
}

.caption {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: var(--font-heavy-weight);
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}

/* Main content */

.content {
    padding: 20px;
    color: var(--secondary-color);
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content p {
    line-height: 1.5;
    color: var(--primary-color);
}

.content ul {
    line-height: 1.5;
    color: var(--primary-color);
}

/* Sidebar */

.sidebar {
    padding: 20px;
    background-color: var(--background-color);
}

.sidebar h3 {
    font-size

/* Forms */

/* Footer */

footer .map