/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

:root {
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    --primary: #d44457;
    --secondary: #4d7fa3;
    --accent: #8557cf;
    --white: #fff;
    --gray: #999;
    --black: #222;
    --xsmall: 12px;
    --small: 19px;
    --medium: 24px;
    --mlarge: 33px;
    --large: 42px;
    --xlarge: 50px;
    --light: 300;
    --normal: 500;
    --heavy: 700;
}

.gray-small-heavy {
    color: var(--gray);
    font-size: var(--small);
    font-weight: var(--heavy);
}
/*  background-color: #f8f8f8; */


/* Form content */

/* Responsive Design - mobile styles (default) */

/* Styles */

/* Tablet styles */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Header */

.logo-img {
    display: block;
    margin-top: -15px;
    margin-right: auto;
    margin-bottom: -30px;
    margin-left: auto;
    width: 325px;
    height: 180px;
}

.logo-text {
    font-family: "Montagu Slab", sans-serif;
    font-size: 28px;
    color: var(--black);
    font-weight: bolder;
    text-align: center;
    margin-bottom: -5px;
}

.logo-subtitle {
    font-size: 24px;
    font-family: "Allura", sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--accent);
    margin: 0;
    margin-bottom: 10px;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 5px;
}

.nav a {
    text-decoration: none;
    color: var(--gray);
    font-size: var(--xsmall);
    font-weight: var(--normal);
}

.nav a:hover {
    color: var(--secondary);
}

.nav a.active,
.nav a.active:hover {
    color: var(--primary);
}

nav li:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
    color: var(--gray);
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: var(--xlarge);
    font-weight: var(--light);
}

.hero-subtitle {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: var(--xsmall);
    font-weight: var(--light);
}

.hero-container img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.caption {
    text-align: center;
    margin-bottom: 24px;
    color: var(--secondary);
    font-size: var(--mlarge);
    font-weight: var(--heavy-);
}

/* Main content */

h1 {
    color: var(--primary);
    font-size: var(--large);
    font-weight: var(--heavy);
}

h2 {
    color: var(--secondary);
    font-size: var(--mlarge);
    font-weight: var(--heavy);
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    width: 100%;
}

.content {
    padding: 20px;
}

.btn-style1 {
    background-color: var(--white);
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: var(--xsmall);
    font-weight: var(--light);
    text-transform: uppercase;
}

.btn-style2 {

}

.btn-style3 {

}

/* Daycare & boarding grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.text-column {
    color: var(--secondary);
    font-size: var(--medium);
    font-weight: var(--light);    padding: 10px;
}

/* for list of COVID rules on Dog Care & Health page */
.content ul {
    line-height: 1.5;
    color: var(--primary);
}

/* Font colors */


/* Sidebar */

.sidebar {
    padding: 20px;
}

.sidebar h3 {

/* Forms */

/* Footer */

footer .map