/* Normalization/global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

:root {
    background-color: #FFFFFF;
    font-family: "Figtree", sans-serif;
    --primary-color: #d44457;
    --secondary-color: #4d7fa3;
    --accent-color: #8557cf;
    --black-color: #222;
    --gray-color: #999;
    --white-color: #fff;
    --background-color: #f8f8f8;
}

/* Responsive Design - mobile styles (default) */
    /* Styles */

/* Tablet styles */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    /* Styles */
}


/* Header */

.logo-img {
    display: block;
    margin-top: -15px;
    margin-right: auto;
    margin-left: auto;
    width: 325px;
    height: auto;
}

.logo-text {
    font-family: "Montagu Slab", "Figtree", sans-serif;
    font-size: 28px;
    color: var(--black-color);
    font-weight: bolder;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0px;
}

.logo-subtitle {
    font-size: 24px;
    font-family: "Allura", sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 15px;
}

.hero-container {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: "Figtree", sans-serif;
    color: var(--white-color);
}

.hero-subtitle {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: "Figtree", sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-container img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 5px;
}

.nav a {
    text-decoration: none;
    color: var(--gray-color);
}

.nav a:hover {
    color: var(--primary-color);
}

.nav a:active {
    color: var(--primary-color);
}

nav li:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
    color: var(--gray-color);
}

.caption {
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}

/* Main content */

.content {
    padding: 20px;
    color: var(--secondary-color);
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content p {
    line-height: 1.5;
    color: var(--primary-color);
}

.content ul {
    line-height: 1.5;
    color: var(--primary-color);
}

/* Sidebar */

.sidebar {
    padding: 20px;
    background-color: var(--background-color);
}

.sidebar h3 {
    font-size

/* Forms */

/* Footer */

footer .map